.env
out.png
*.pyc
wordle_bot_data
notebook.ipynb
wordle-terminal-old.py
.env-real
*.png
users.txt
wordle-telegram-bot.py
*.log
unique_users.json
used_words_english.json
used_words_german.json
used_words_swedish.json
